<ion-header no-shadow>
  <ion-navbar>
    <ion-title>
      <h2 class="slide-title">{{ 'FORM_THERAPIES_ALTERNATIVES' | translate }}</h2>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce overflow-scroll="true">
  <p *ngIf="!therapiesAlterForm.valid && submitAttempt" class="FormAlerte">{{ 'FORM_ALERTE' | translate }}</p>
  <form [formGroup]="therapiesAlterForm" novalidate>
    <h3>
      <span>{{ 'FORM_INFO_ALTERNATIF' | translate }}</span>
      {{ 'FORM_INFO_ALTERNATIF_DETAILS' | translate }}
    </h3>
    <ion-list text-wrap>
      <p>{{ 'FORM_THERAPIES_TYPES' | translate }}</p>
      <ion-item no-lines>
        <ion-label>{{ 'FORM_THERAPIES_OPTION_1' | translate }}</ion-label>
        <ion-checkbox  formControlName="phytoForm" (click)="therapie()"></ion-checkbox>
      </ion-item>
      <ion-item no-lines>
        <ion-label>{{ 'FORM_THERAPIES_OPTION_2' | translate }}</ion-label>
        <ion-checkbox formControlName="boissonForm" (click)="therapie()"></ion-checkbox>
      </ion-item>
      <ion-item no-lines>
        <ion-label>{{ 'FORM_THERAPIES_OPTION_3' | translate }}</ion-label>
        <ion-checkbox formControlName="aromaForm" (click)="therapie()"></ion-checkbox>
      </ion-item>
      <ion-item no-lines>
        <ion-label>{{ 'FORM_THERAPIES_OPTION_4' | translate }}</ion-label>
        <ion-checkbox formControlName="vitamineForm" (click)="therapie()"></ion-checkbox>
      </ion-item>
      <ion-item no-lines>
        <ion-label>{{ 'FORM_THERAPIES_OPTION_5' | translate }}</ion-label>
        <ion-checkbox formControlName="homeoForm" (click)="therapie()"></ion-checkbox>
      </ion-item>
      <ion-item no-lines>
        <ion-label >{{ 'FORM_THERAPIES_OPTION_6' | translate }}</ion-label>
        <ion-checkbox formControlName="autresboolForm" (click)="autres()"></ion-checkbox>
      </ion-item>
      <ion-item no-lines *ngIf="checkAutres">
        <ion-input [class.invalid]="!therapiesAlterForm.controls.autresForm.valid && (therapiesAlterForm.controls.autresForm.dirty || submitAttempt)" formControlName="autresForm" type="text"></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label>{{ 'FORM_THERAPIES_OPTION_7' | translate }}</ion-label>
        <ion-checkbox formControlName="aucunForm" (click)="aucun()"></ion-checkbox>
      </ion-item>
      <ion-item no-lines>
        <ion-label>{{ 'FORM_THERAPIES_OPTION_8' | translate }}</ion-label>
        <ion-checkbox formControlName="inconnuForm" (click)="inconnu()"></ion-checkbox>
      </ion-item>

    </ion-list>
    <p *ngIf="!therapiesAlterForm.valid && submitAttempt">{{ 'FORM_CHECK_THERAPIE_ALERTE' | translate }}</p>
  
  </form>
  
  <button class="buttonValide" [class.invalid]="!therapiesAlterForm.valid && submitAttempt" ion-button icon-end large clear (click)="nextPage()">
    {{ 'CONTINUE_BOUTON' | translate }}
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
</ion-content>
