<ion-header no-shadow>
  <ion-navbar>
    <ion-title>
      <h2 class="slide-title">{{ 'FORM_THERAPIES' | translate }}</h2>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce overflow-scroll="true" (ionScroll)="displayFab()">

  <ion-fab *ngIf="showScrollFabTherapies" right bottom>
    <button ion-fab mini (click)="scrollDownContent()">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </button>
  </ion-fab>

  <form [formGroup]="therapiesForm" novalidate>
          
    <h3>
      <span>{{ 'FORM_INFO_THERAPIE' | translate }}</span>
      {{ 'FORM_INFO_THERAPIE_DETAILS' | translate }}
    </h3>
    <ion-list radio-group formControlName="radioForm">
      <p>{{ 'FORM_RADIO_CHECK' | translate }}</p>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!therapiesForm.controls.radioForm.valid && (therapiesForm.controls.radioForm.dirty || submitAttempt)">{{ 'FORM_RADIO_OPTION_1' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_RADIO_OPTION_1' | translate }}" [class.invalid-bis]="!therapiesForm.controls.radioForm.valid && (therapiesForm.controls.radioForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!therapiesForm.controls.radioForm.valid && (therapiesForm.controls.radioForm.dirty || submitAttempt)">{{ 'FORM_RADIO_OPTION_2' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_RADIO_OPTION_2' | translate }}" [class.invalid-bis]="!therapiesForm.controls.radioForm.valid && (therapiesForm.controls.radioForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!therapiesForm.controls.radioForm.valid && (therapiesForm.controls.radioForm.dirty || submitAttempt)">{{ 'FORM_RADIO_OPTION_3' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_RADIO_OPTION_3' | translate }}" [class.invalid-bis]="!therapiesForm.controls.radioForm.valid && (therapiesForm.controls.radioForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!therapiesForm.controls.radioForm.valid && (therapiesForm.controls.radioForm.dirty || submitAttempt)">{{ 'FORM_RADIO_OPTION_4' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_RADIO_OPTION_4' | translate }}" [class.invalid-bis]="!therapiesForm.controls.radioForm.valid && (therapiesForm.controls.radioForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!therapiesForm.controls.radioForm.valid && (therapiesForm.controls.radioForm.dirty || submitAttempt)">{{ 'FORM_RADIO_OPTION_5' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_RADIO_OPTION_5' | translate }}" [class.invalid-bis]="!therapiesForm.controls.radioForm.valid && (therapiesForm.controls.radioForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
    </ion-list>
    <p *ngIf="!therapiesForm.controls.radioForm.valid  && (therapiesForm.controls.radioForm.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p>
    
    <ion-list radio-group formControlName="chirurgieForm">  
      <p>{{ 'FORM_CHIRURGIE_CHECK' | translate }}</p>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!therapiesForm.controls.chirurgieForm.valid && (therapiesForm.controls.chirurgieForm.dirty || submitAttempt)">{{ 'FORM_CHIRURGIE_OPTION_1' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_CHIRURGIE_OPTION_1' | translate }}" [class.invalid-bis]="!therapiesForm.controls.chirurgieForm.valid && (therapiesForm.controls.chirurgieForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!therapiesForm.controls.chirurgieForm.valid && (therapiesForm.controls.chirurgieForm.dirty || submitAttempt)">{{ 'FORM_CHIRURGIE_OPTION_2' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_CHIRURGIE_OPTION_2' | translate }}" [class.invalid-bis]="!therapiesForm.controls.chirurgieForm.valid && (therapiesForm.controls.chirurgieForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!therapiesForm.controls.chirurgieForm.valid && (therapiesForm.controls.chirurgieForm.dirty || submitAttempt)">{{ 'FORM_CHIRURGIE_OPTION_3' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_CHIRURGIE_OPTION_3' | translate }}" [class.invalid-bis]="!therapiesForm.controls.chirurgieForm.valid && (therapiesForm.controls.chirurgieForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!therapiesForm.controls.chirurgieForm.valid && (therapiesForm.controls.chirurgieForm.dirty || submitAttempt)">{{ 'FORM_CHIRURGIE_OPTION_4' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_CHIRURGIE_OPTION_4' | translate }}" [class.invalid-bis]="!therapiesForm.controls.chirurgieForm.valid && (therapiesForm.controls.chirurgieForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
    </ion-list>
    <p *ngIf="!therapiesForm.controls.chirurgieForm.valid  && (therapiesForm.controls.chirurgieForm.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p>
    
    <h3>
      <span>{{ 'FORM_INFO_GASTRECTOMIE' | translate }}</span>
      {{ 'FORM_INFO_GASTRECTOMIE_DETAILS' | translate }}
    </h3>
    <ion-list radio-group formControlName="gastrectomieForm">  
      <p>{{ 'FORM_GASTRECTOMIE_CHECK' | translate }}</p>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!therapiesForm.controls.gastrectomieForm.valid && (therapiesForm.controls.gastrectomieForm.dirty || submitAttempt)">{{ 'FORM_GASTRECTOMIE_OPTION_1' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_GASTRECTOMIE_OPTION_1' | translate }}" [class.invalid-bis]="!therapiesForm.controls.gastrectomieForm.valid && (therapiesForm.controls.gastrectomieForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!therapiesForm.controls.gastrectomieForm.valid && (therapiesForm.controls.gastrectomieForm.dirty || submitAttempt)">{{ 'FORM_GASTRECTOMIE_OPTION_2' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_GASTRECTOMIE_OPTION_2' | translate }}" [class.invalid-bis]="!therapiesForm.controls.gastrectomieForm.valid && (therapiesForm.controls.gastrectomieForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!therapiesForm.controls.gastrectomieForm.valid && (therapiesForm.controls.gastrectomieForm.dirty || submitAttempt)">{{ 'FORM_GASTRECTOMIE_OPTION_3' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_GASTRECTOMIE_OPTION_3' | translate }}" [class.invalid-bis]="!therapiesForm.controls.gastrectomieForm.valid && (therapiesForm.controls.gastrectomieForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
    </ion-list>
    <p *ngIf="!therapiesForm.controls.chirurgieForm.valid  && (therapiesForm.controls.chirurgieForm.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p>
  </form>

  <form [formGroup]="anticancerForm" novalidate>
    
    <h3>
      <span>{{ 'FORM_INFO_TRAITEMENT' | translate }}</span>
      {{ 'FORM_INFO_TRAITEMENT_DETAILS' | translate }}
    </h3>

    <ion-list radio-group formControlName="traitementboolForm">
      <p>{{ 'FORM_TRAITEMENT_CHECK' | translate }}</p>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!anticancerForm.controls.traitementboolForm.valid && (anticancerForm.controls.traitementboolForm.dirty || submitAttempt)">{{ 'FORM_TRAITEMENT_OUI' | translate }}</ion-label>
        <ion-radio (click)="traitementOui()" value="{{ 'FORM_TRAITEMENT_OUI' | translate }}" [class.invalid-bis]="!anticancerForm.controls.traitementboolForm.valid && (anticancerForm.controls.traitementboolForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!anticancerForm.controls.traitementboolForm.valid && (anticancerForm.controls.traitementboolForm.dirty || submitAttempt)">{{ 'FORM_TRAITEMENT_NON' | translate }}</ion-label>
        <ion-radio (click)="traitementNon()" value="{{ 'FORM_TRAITEMENT_NON' | translate }}" [class.invalid-bis]="!anticancerForm.controls.traitementboolForm.valid && (anticancerForm.controls.traitementboolForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
    </ion-list>
    <p *ngIf="!anticancerForm.controls.traitementboolForm.valid  && (anticancerForm.controls.traitementboolForm.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p>

    <div *ngIf="isTraitement">
      <div>
        <ion-list class="listTraitement" ion-row no-lines *ngFor="let traitement of anticancerTable; let i=index">
          <button ion-col type="button" ion-item class="buttonModal" (click)="showTraitementModal(i)" no-lines>
            <ion-label class="labelModalstacked" [class.cache]="!choixTable[i].choixTest" stacked text-wrap>{{ 'FORM_NOM_TRAITEMENT' | translate }}</ion-label>
            <ion-label class="labelModal" *ngIf="!choixTable[i].choixTest" [class.invalid]="!traitement.traitementnomControl.valid && (traitement.traitementnomControl.dirty || submitAttempt || checkTraitement)">{{ 'FORM_NOM_TRAITEMENT' | translate }}</ion-label>
            <ion-label class="nomModal" *ngIf="choixTable[i].choixTest" [class.invalid]="!traitement.traitementnomControl.valid && (traitement.traitementnomControl.dirty || submitAttempt || checkTraitement)">{{choixTable[i].choixNom}}</ion-label>
          </button>
          <button *ngIf="anticancerTable.length > 1" ion-col col-auto icon-only class="buttonRemove" (click)="removeTrait(i)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-list>
        <p class="col" *ngIf="!anticancerForm.valid && (submitAttempt || checkTraitement)">{{ 'FORM_NOM_TRAITEMENT_ALERTE' | translate }}</p>
      </div>
      <button class="buttonAjout" ion-button icon-start medium clear (click)="addTrait()">
        <ion-icon name="add"></ion-icon>
        {{ 'FORM_NOM_TRAITEMENT_PLUS' | translate }}
      </button>
    </div>

  </form>
  
  <p *ngIf="(!therapiesForm.valid || !anticancerForm.valid) && submitAttempt" class="FormAlerte">{{ 'FORM_ALERTE' | translate }}</p>
  <button class="buttonValide" [class.invalid]="(!therapiesForm.valid || !anticancerForm.valid) && submitAttempt" ion-button icon-end large clear (click)="nextPage()">
    {{ 'CONTINUE_BOUTON' | translate }}
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
</ion-content>