.ios, .md{
    fin-formulaire {
      div{
        h2 {
          padding: 20px 0px 20px 0px;
          text-align: center;
        }
        p {
          text-align:justify;
          font-size: 1.2em;
        }
        .ParagRedir{
          font-weight: bold;
        }
        .ButtonValide{
          margin: auto;
          display: block;
          border: 3px #488aff solid;
        }
      }
    }
  }