<ion-header no-shadow>
  <ion-navbar>
    <ion-title>
      <h2 class="slide-title">{{ 'FORM_MALADIE' | translate }}</h2>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce overflow-scroll="true" (ionScroll)="displayFab()">

  <ion-fab *ngIf="showScrollFabMaladie" right bottom>
    <button ion-fab mini (click)="scrollDownContent()">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </button>
  </ion-fab>
  
  <form [formGroup]="maladieForm" novalidate>
   
    <h3>
      <span>{{ 'FORM_INFO_MALADIE' | translate }}</span>
      {{ 'FORM_INFO_MALADIE_DETAILS' | translate }}
    </h3>
    <ion-list radio-group formControlName="typeboolForm">
      <p>{{ 'FORM_TYPE_CANCER_CHECK' | translate }}</p>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!maladieForm.controls.typeboolForm.valid && (maladieForm.controls.typeboolForm.dirty || submitAttempt)">{{ 'FORM_TYPE_OUI' | translate }}</ion-label>
        <ion-radio (click)="hematoOui()" value="{{ 'FORM_TYPE_OUI' | translate }}" [class.invalid-bis]="!maladieForm.controls.typeboolForm.valid && (maladieForm.controls.typeboolForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!maladieForm.controls.typeboolForm.valid && (maladieForm.controls.typeboolForm.dirty || submitAttempt)">{{ 'FORM_TYPE_NON' | translate }}</ion-label>
        <ion-radio (click)="hematoNon()" value="{{ 'FORM_TYPE_NON' | translate }}" [class.invalid-bis]="!maladieForm.controls.typeboolForm.valid && (maladieForm.controls.typeboolForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!maladieForm.controls.typeboolForm.valid && (maladieForm.controls.typeboolForm.dirty || submitAttempt)">{{ 'FORM_TYPE_SAISPAS' | translate }}</ion-label>
        <ion-radio (click)="hematoNon()" value="{{ 'FORM_TYPE_SAISPAS' | translate }}" [class.invalid-bis]="!maladieForm.controls.typeboolForm.valid && (maladieForm.controls.typeboolForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
    </ion-list>
    <p *ngIf="!maladieForm.controls.typeboolForm.valid  && (maladieForm.controls.typeboolForm.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p>

    <div *ngIf="isHemato">
      <button type="button" ion-item class="buttonModal" (click)="showHematoModal()" no-lines>
        <ion-label class="labelModalstacked" [class.cache]="!organeChoix" stacked>{{ 'FORM_HEMATO' | translate }}</ion-label>
        <ion-label class="labelModal" *ngIf="!organeChoix" [class.invalid]="!maladieForm.controls.nom_organeForm.valid && (maladieForm.controls.nom_organeForm.dirty || submitAttempt)">{{ 'FORM_ORGANE_PRIMITIF' | translate }}</ion-label>
        <ion-label class="nomModal" *ngIf="organeChoix" [class.invalid]="!maladieForm.controls.nom_organeForm.valid && (maladieForm.controls.nom_organeForm.dirty || submitAttempt)">{{organeChoix}}</ion-label>
      </button>
      <p *ngIf="!maladieForm.controls.nom_organeForm.valid  && (maladieForm.controls.nom_organeForm.dirty || submitAttempt)">{{ 'FORM_HEMATO_ALERTE' | translate }}</p>
    </div>

    <div *ngIf="isNotHemato">
      <h3>
        <span>{{ 'FORM_INFO_CANCER' | translate }}</span>
        {{ 'FORM_INFO_CANCER_DETAILS' | translate }}
      </h3>
      <ion-list radio-group formControlName="organeboolForm">
        <p>{{ 'FORM_ORGANE_CHECK' | translate }}</p>
        <ion-item no-lines>
          <ion-label [class.invalid-bis]="!maladieForm.controls.organeboolForm.valid && (maladieForm.controls.organeboolForm.dirty || submitAttempt)">{{ 'FORM_ORGANE_OUI' | translate }}</ion-label>
          <ion-radio (click)="organeOui()" value="{{ 'FORM_ORGANE_OUI' | translate }}" [class.invalid-bis]="!maladieForm.controls.organeboolForm.valid && (maladieForm.controls.organeboolForm.dirty || submitAttempt)"></ion-radio>
        </ion-item>
        <ion-item no-lines>
          <ion-label [class.invalid-bis]="!maladieForm.controls.organeboolForm.valid && (maladieForm.controls.organeboolForm.dirty || submitAttempt)">{{ 'FORM_ORGANE_NON' | translate }}</ion-label>
          <ion-radio (click)="organeNon()" value="{{ 'FORM_ORGANE_NON' | translate }}" [class.invalid-bis]="!maladieForm.controls.organeboolForm.valid && (maladieForm.controls.organeboolForm.dirty || submitAttempt)"></ion-radio>
        </ion-item>
      </ion-list>
      <p *ngIf="!maladieForm.controls.organeboolForm.valid  && (maladieForm.controls.organeboolForm.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p>
  
      <div *ngIf="isOrgane">
        <button type="button" ion-item class="buttonModal" (click)="showOrganeModal()" no-lines>
          <ion-label class="labelModalstacked" [class.cache]="!organeChoix" stacked text-wrap>{{ 'FORM_ORGANE_PRIMITIF' | translate }}</ion-label>
          <ion-label class="labelModal" *ngIf="!organeChoix" [class.invalid]="!maladieForm.controls.nom_organeForm.valid && (maladieForm.controls.nom_organeForm.dirty || submitAttempt)">{{ 'FORM_ORGANE_PRIMITIF' | translate }}</ion-label>
          <ion-label class="nomModal" *ngIf="organeChoix" [class.invalid]="!maladieForm.controls.nom_organeForm.valid && (maladieForm.controls.nom_organeForm.dirty || submitAttempt)">{{organeChoix}}</ion-label>
        </button>
        <p *ngIf="!maladieForm.controls.nom_organeForm.valid  && (maladieForm.controls.nom_organeForm.dirty || submitAttempt)">{{ 'FORM_ORGANE_PRIMITIF_ALERTE' | translate }}</p>
      </div>
  
      <ion-list radio-group formControlName="etatForm">
        <p>{{ 'FORM_MALADIE_CHECK' | translate }}</p>
        <ion-item no-lines>
          <ion-label [class.invalid-bis]="!maladieForm.controls.etatForm.valid && (maladieForm.controls.etatForm.dirty || submitAttempt) && !isHemato">{{ 'FORM_MALADIE_OPTION_1' | translate }}</ion-label>
          <ion-radio value="{{ 'FORM_MALADIE_OPTION_1' | translate }}" [class.invalid-bis]="!maladieForm.controls.etatForm.valid && (maladieForm.controls.etatForm.dirty || submitAttempt) && !isHemato"></ion-radio>
        </ion-item>
        <ion-item no-lines>
          <ion-label [class.invalid-bis]="!maladieForm.controls.etatForm.valid && (maladieForm.controls.etatForm.dirty || submitAttempt) && !isHemato">{{ 'FORM_MALADIE_OPTION_2' | translate }}</ion-label>
          <ion-radio value="{{ 'FORM_MALADIE_OPTION_2' | translate }}" [class.invalid-bis]="!maladieForm.controls.etatForm.valid && (maladieForm.controls.etatForm.dirty || submitAttempt) && !isHemato"></ion-radio>
        </ion-item>
        <ion-item no-lines>
          <ion-label [class.invalid-bis]="!maladieForm.controls.etatForm.valid && (maladieForm.controls.etatForm.dirty || submitAttempt) && !isHemato">{{ 'FORM_MALADIE_OPTION_3' | translate }}</ion-label>
          <ion-radio value="{{ 'FORM_MALADIE_OPTION_3' | translate }}" [class.invalid-bis]="!maladieForm.controls.etatForm.valid && (maladieForm.controls.etatForm.dirty || submitAttempt) && !isHemato"></ion-radio>
        </ion-item>
      </ion-list>
    </div>

    <ion-list radio-group formControlName="dureeForm">
      <p>{{ 'FORM_MALADIE_DUREE_DELAI_DIAGNOSTIQUE' | translate }}</p>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!maladieForm.controls.dureeForm.valid && (maladieForm.controls.dureeForm.dirty || submitAttempt) && !isHemato">{{ 'FORM_MALADIE_DUREE_MOINS6MOIS' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_MALADIE_DUREE_MOINS6MOIS' | translate }}" [class.invalid-bis]="!maladieForm.controls.dureeForm.valid && (maladieForm.controls.dureeForm.dirty || submitAttempt) && !isHemato"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!maladieForm.controls.dureeForm.valid && (maladieForm.controls.dureeForm.dirty || submitAttempt) && !isHemato">{{ 'FORM_MALADIE_DUREE_6MOIS1AN' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_MALADIE_DUREE_6MOIS1AN' | translate }}" [class.invalid-bis]="!maladieForm.controls.dureeForm.valid && (maladieForm.controls.dureeForm.dirty || submitAttempt) && !isHemato"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!maladieForm.controls.dureeForm.valid && (maladieForm.controls.dureeForm.dirty || submitAttempt) && !isHemato">{{ 'FORM_MALADIE_DUREE_1AN2ANS' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_MALADIE_DUREE_1AN2ANS' | translate }}" [class.invalid-bis]="!maladieForm.controls.dureeForm.valid && (maladieForm.controls.dureeForm.dirty || submitAttempt) && !isHemato"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!maladieForm.controls.dureeForm.valid && (maladieForm.controls.dureeForm.dirty || submitAttempt) && !isHemato">{{ 'FORM_MALADIE_DUREE_2ANS5ANS' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_MALADIE_DUREE_2ANS5ANS' | translate }}" [class.invalid-bis]="!maladieForm.controls.dureeForm.valid && (maladieForm.controls.dureeForm.dirty || submitAttempt) && !isHemato"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!maladieForm.controls.dureeForm.valid && (maladieForm.controls.dureeForm.dirty || submitAttempt) && !isHemato">{{ 'FORM_MALADIE_DUREE_PLUS5ANS' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_MALADIE_DUREE_PLUS5ANS' | translate }}" [class.invalid-bis]="!maladieForm.controls.dureeForm.valid && (maladieForm.controls.dureeForm.dirty || submitAttempt) && !isHemato"></ion-radio>
      </ion-item>
    </ion-list>
    <p *ngIf="!maladieForm.controls.dureeForm.valid  && (maladieForm.controls.dureeForm.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p>

  </form>
  <p *ngIf="!maladieForm.valid && submitAttempt" class="FormAlerte">{{ 'FORM_ALERTE' | translate }}</p>
  <button class="buttonValide" [class.invalid]="!maladieForm.valid && submitAttempt" ion-button icon-end large clear (click)="nextPage()">
    {{ 'CONTINUE_BOUTON' | translate }}
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
</ion-content>