<ion-header no-shadow>
  <ion-navbar>
    <ion-title>
      <h2 class="slide-title">{{ 'FORM_MALADIE' | translate }}</h2>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce overflow-scroll="true">
  <p *ngIf="!maladieForm.valid && submitAttempt" class="FormAlerte">{{ 'FORM_ALERTE' | translate }}</p>
  
  <form [formGroup]="maladieForm" novalidate>
   
    <h3>
      <span>{{ 'FORM_INFO_MALADIE' | translate }}</span>
      {{ 'FORM_INFO_MALADIE_DETAILS' | translate }}
    </h3>
    <ion-list radio-group formControlName="organeboolForm">
      <p>{{ 'FORM_ORGANE_CHECK' | translate }}</p>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!maladieForm.controls.organeboolForm.valid && (maladieForm.controls.organeboolForm.dirty || submitAttempt)">{{ 'FORM_ORGANE_OUI' | translate }}</ion-label>
        <ion-radio (click)="organeOui()" value="{{ 'FORM_ORGANE_OUI' | translate }}" [class.invalid-bis]="!maladieForm.controls.organeboolForm.valid && (maladieForm.controls.organeboolForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!maladieForm.controls.organeboolForm.valid && (maladieForm.controls.organeboolForm.dirty || submitAttempt)">{{ 'FORM_ORGANE_NON' | translate }}</ion-label>
        <ion-radio (click)="organeNon()" value="{{ 'FORM_ORGANE_NON' | translate }}" [class.invalid-bis]="!maladieForm.controls.organeboolForm.valid && (maladieForm.controls.organeboolForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
    </ion-list>
    <p *ngIf="!maladieForm.controls.organeboolForm.valid  && (maladieForm.controls.organeboolForm.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p>

    <div *ngIf="questionOrgane">
      <button type="button" ion-item class="buttonModal" (click)="showOrganeModal()" no-lines>
        <ion-label class="labelModalstacked" [class.cache]="!organeChoix" stacked>{{ 'FORM_ORGANE_PRIMITIF' | translate }}</ion-label>
        <ion-label class="labelModal" *ngIf="!organeChoix" [class.invalid]="!maladieForm.controls.nom_organeForm.valid && (maladieForm.controls.nom_organeForm.dirty || submitAttempt)">{{ 'FORM_ORGANE_PRIMITIF' | translate }}</ion-label>
        <ion-label class="nomModal" *ngIf="organeChoix" [class.invalid]="!maladieForm.controls.nom_organeForm.valid && (maladieForm.controls.nom_organeForm.dirty || submitAttempt)">{{organeChoix}}</ion-label>
      </button>
      <p *ngIf="!maladieForm.controls.nom_organeForm.valid  && (maladieForm.controls.nom_organeForm.dirty || submitAttempt)">{{ 'FORM_ORGANE_PRIMITIF_ALERTE' | translate }}</p>
    </div>

    <ion-list radio-group formControlName="etatForm">
      <p>{{ 'FORM_MALADIE_CHECK' | translate }}</p>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!maladieForm.controls.etatForm.valid && (maladieForm.controls.etatForm.dirty || submitAttempt)">{{ 'FORM_MALADIE_OPTION_1' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_MALADIE_OPTION_1' | translate }}" [class.invalid-bis]="!maladieForm.controls.etatForm.valid && (maladieForm.controls.etatForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!maladieForm.controls.etatForm.valid && (maladieForm.controls.etatForm.dirty || submitAttempt)">{{ 'FORM_MALADIE_OPTION_2' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_MALADIE_OPTION_2' | translate }}" [class.invalid-bis]="!maladieForm.controls.etatForm.valid && (maladieForm.controls.etatForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!maladieForm.controls.etatForm.valid && (maladieForm.controls.etatForm.dirty || submitAttempt)">{{ 'FORM_MALADIE_OPTION_3' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_MALADIE_OPTION_3' | translate }}" [class.invalid-bis]="!maladieForm.controls.etatForm.valid && (maladieForm.controls.etatForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
    </ion-list>
    <p *ngIf="!maladieForm.controls.etatForm.valid  && (maladieForm.controls.etatForm.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p>
  
  </form>

  <button class="buttonValide" [class.invalid]="!maladieForm.valid && submitAttempt" ion-button icon-end large clear (click)="nextPage()">
    {{ 'CONTINUE_BOUTON' | translate }}
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
</ion-content>