.ios, .md{
  maladie {
    ion-content{      
      form{
        div{
          padding: 0px;
          margin: 0px;
          .buttonModal{
            .labelModalstacked{
              padding-left: 10px;
            }
          }
        }
      }
    } 
  }
}