.ios, .md{
  traitement-nom {
    ion-header{
      h2{
        text-align: center;
        padding-right: 100px;
      }
    }
    ion-content{
      .FormAlerte{
        padding-left: 10px;
        font-size: 1.2em;
        color: #ea6153;
      }
      .ButtonValide{
        margin: auto;
        margin-top: 50px;
        display: block;
        border: 3px #488aff solid;
      }
      
      form{
        p {
          font-size: 1em;
          color: #ea6153;
          margin-left: 10px;
        }
        ion-list{
          margin-bottom: 0px;
          .buttonModal{
            width: 40%;
            background: rgba(0,0,0,0);
            .labelModalstacked{
              font-size: 0.8em;
              color: #999999;
              margin: 15px 0px 4px 10px;
            }
            .cache{
              color: #ffffff;
            }
            .labelModal{
              background-color: #f2f2f2;
              color: #999999;
              padding: 7px 0px 13px 10px;
              margin: 0px;
            }
            .nomModal{
              background-color: #f2f2f2;
              padding: 10px 0px 10px 10px;
              margin: 0px;
            }
          }
          .itemDate{
            width: 40%;
            padding: 0px 0px 0px 0px;
            margin: 0px;
            ion-label {
              padding: 0px 0px 0px 0px;
              margin: 20px 0px 0px 10px;
            }
            ion-datetime {
              background-color: #f2f2f2;
              padding: 10px 0px 10px 10px;
              margin: 1px 0px 3px 0px;
            }
          }
          .ItemButtonClose{
            width: 100px;
            .ButtonClose{
              margin: 0px;
              margin-top: 20px;
              display: block;
              border: 2px #999999 solid;
            }
            .IconClose{
              color: #999999;
            }
          }
        }
        .invalid {
          border: 2px solid #ea6153;
        }
      }
    } 
  }
}