<ion-header no-shadow>
  <ion-navbar>
    <ion-title>
      <h2 class="slide-title">{{ 'FORM_INFO_PERSO' | translate }}</h2>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce overflow-scroll="true">
  
  <form [formGroup]="infoPersoForm" novalidate>

    <h3>
      <span>{{ 'FORM_INFO_PATIENT' | translate }}</span>
      {{ 'FORM_INFO_PATIENT_DETAILS' | translate }}
    </h3>
    <ion-item class="naissanceInput" no-lines>
      <ion-label [class.blur]="dateNaissance" floating>{{ 'FORM_DATE_NAISSANCE' | translate }}</ion-label>
      <ion-input [class.invalid]="!infoPersoForm.controls.date_naissanceForm.valid && (infoPersoForm.controls.date_naissanceForm.dirty || submitAttempt)" formControlName="date_naissanceForm" type="number" pattern="\d*" (ionBlur)="labelBlur()" (ionFocus)="labelFocus()"></ion-input>
    </ion-item>
    <p *ngIf="!infoPersoForm.controls.date_naissanceForm.valid  && (infoPersoForm.controls.date_naissanceForm.dirty || submitAttempt)">{{ 'FORM_DATE_NAISSANCE_ALERTE' | translate }}</p>

    <ion-list radio-group formControlName="sexeForm">
      <p>{{ 'FORM_SEX_CHECK' | translate }}</p>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!infoPersoForm.controls.sexeForm.valid && (infoPersoForm.controls.sexeForm.dirty || submitAttempt)">{{ 'FORM_SEX_FEMME' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_SEX_FEMME' | translate }}" [class.invalid-bis]="!infoPersoForm.controls.sexeForm.valid && (infoPersoForm.controls.sexeForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!infoPersoForm.controls.sexeForm.valid && (infoPersoForm.controls.sexeForm.dirty || submitAttempt)">{{ 'FORM_SEX_HOMME' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_SEX_HOMME' | translate }}" [class.invalid-bis]="!infoPersoForm.controls.sexeForm.valid && (infoPersoForm.controls.sexeForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
    </ion-list>
    <p *ngIf="!infoPersoForm.controls.sexeForm.valid  && (infoPersoForm.controls.sexeForm.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p>

    <h3>
      <span>{{ 'FORM_INFO_TABAC' | translate }}</span>
      {{ 'FORM_INFO_TABAC_DETAILS' | translate }}
    </h3>
    <ion-list radio-group formControlName="tabacForm">
      <p>{{ 'FORM_TABAC_CHECK' | translate }}</p>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!infoPersoForm.controls.tabacForm.valid && (infoPersoForm.controls.tabacForm.dirty || submitAttempt)">{{ 'FORM_TABAC_OUI' | translate }}</ion-label>
        <ion-radio (click)="tabacOui()" value="{{ 'FORM_TABAC_OUI' | translate }}" [class.invalid-bis]="!infoPersoForm.controls.tabacForm.valid && (infoPersoForm.controls.tabacForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!infoPersoForm.controls.tabacForm.valid && (infoPersoForm.controls.tabacForm.dirty || submitAttempt)">{{ 'FORM_TABAC_NON' | translate }}</ion-label>
        <ion-radio (click)="tabacNon()" value="{{ 'FORM_TABAC_NON' | translate }}" [class.invalid-bis]="!infoPersoForm.controls.tabacForm.valid && (infoPersoForm.controls.tabacForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
    </ion-list>
    <p *ngIf="!infoPersoForm.controls.tabacForm.valid  && (infoPersoForm.controls.tabacForm.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p>

    <ion-list *ngIf="questionTabac" radio-group formControlName="frequenceForm">
      <p>{{ 'FORM_TABAC_FREQUENCE' | translate }}</p>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!infoPersoForm.controls.frequenceForm.valid && (infoPersoForm.controls.frequenceForm.dirty || submitAttempt)">{{ 'FORM_FREQUENCE_1' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_FREQUENCE_1' | translate }}" [class.invalid-bis]="!infoPersoForm.controls.frequenceForm.valid && (infoPersoForm.controls.frequenceForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!infoPersoForm.controls.frequenceForm.valid && (infoPersoForm.controls.frequenceForm.dirty || submitAttempt)">{{ 'FORM_FREQUENCE_2' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_FREQUENCE_2' | translate }}" [class.invalid-bis]="!infoPersoForm.controls.frequenceForm.valid && (infoPersoForm.controls.frequenceForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!infoPersoForm.controls.frequenceForm.valid && (infoPersoForm.controls.frequenceForm.dirty || submitAttempt)">{{ 'FORM_FREQUENCE_3' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_FREQUENCE_3' | translate }}" [class.invalid-bis]="!infoPersoForm.controls.frequenceForm.valid && (infoPersoForm.controls.frequenceForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!infoPersoForm.controls.frequenceForm.valid && (infoPersoForm.controls.frequenceForm.dirty || submitAttempt)">{{ 'FORM_FREQUENCE_4' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_FREQUENCE_4' | translate }}" [class.invalid-bis]="!infoPersoForm.controls.frequenceForm.valid && (infoPersoForm.controls.frequenceForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!infoPersoForm.controls.frequenceForm.valid && (infoPersoForm.controls.frequenceForm.dirty || submitAttempt)">{{ 'FORM_FREQUENCE_5' | translate }}</ion-label>
        <ion-radio value="{{ 'FORM_FREQUENCE_5' | translate }}" [class.invalid-bis]="!infoPersoForm.controls.frequenceForm.valid && (infoPersoForm.controls.frequenceForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
    </ion-list>
    <p *ngIf="!infoPersoForm.controls.frequenceForm.valid  && (infoPersoForm.controls.frequenceForm.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p>
  </form>
  <p *ngIf="!infoPersoForm.valid && submitAttempt" class="FormAlerte">{{ 'FORM_ALERTE' | translate }}</p>
  <button class="buttonValide" [class.invalid]="!infoPersoForm.valid && submitAttempt" ion-button icon-end large clear (click)="nextPage()">
    {{ 'FIN_BOUTON' | translate }}
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
</ion-content>