<ion-header no-shadow>
    <ion-navbar>
      <ion-title>
        <h2 class="slide-title">{{ 'FORM_RESULTAT' | translate }}</h2>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content no-bounce>
    <ion-list *ngIf="this.booleanReady[0]" class="column" no-lines>
      <div *ngFor="let info of infos">
        <p *ngIf="info.hasOwnProperty('cancer_nom')">
          <a>{{ 'ORGANE_RESULTAT' | translate }}</a>
          <a>{{info.cancer_nom}}</a>
        </p>
        <p *ngIf="info.hasOwnProperty('traitement_nom')">
          <a *ngIf="info.traitement_type == 'CANPO' || info.traitement_type == 'CANAU' || info.traitement_type == 'CANIV'">{{ 'TRAITEMENT_RESULTAT' | translate }}</a>
          <a *ngIf="!(info.traitement_type == 'CANPO' || info.traitement_type == 'CANAU' || info.traitement_type == 'CANIV')">{{ 'ALTERNATIF_RESULTAT' | translate }}</a>
          <a>{{info.traitement_nom}}</a>
        </p>
      </div>
    </ion-list>
    <ion-spinner *ngIf="!(this.booleanReady[0] && this.booleanReady[1])"></ion-spinner>
    <ion-list *ngIf="this.booleanReady[1] && !booleanIncomp" class="column" no-lines>
      <div *ngFor="let incompatibilite of incompatibilites">
        <p *ngIf="incompatibilite.hasOwnProperty('texte')">
          <a>{{incompatibilite.texte}}</a>
        </p>
      </div>
    </ion-list>
    <div *ngIf="booleanIncomp">
      <p>{{ 'INCOMPATIBILITE_RESULTAT' | translate }}</p>
    </div>
    <div *ngIf="this.booleanReady[0] && this.booleanReady[1]">
      <p *ngIf="this.booleanError">{{ this.textError }}</p>
    </div>
    <div *ngIf="this.booleanReady[0] && this.booleanReady[1] && !booleanIncomp">
      <p *ngIf="!this.booleanError">{{ 'EMAIL_RESULTAT' | translate }}</p>
      <p *ngIf="this.booleanError">{{ 'ERROR_EMAIL_RESULTAT' | translate }}</p>
    </div>
    <form *ngIf="this.booleanReady[0] && this.booleanReady[1] && !booleanIncomp" [formGroup]="resultatsForm" novalidate>
      <ion-item no-lines>
        <ion-label floating>{{ 'FORM_EMAIL_REF' | translate }}</ion-label>
        <ion-input [class.invalid]="!this.resultatsForm.controls.emailForm.valid && (this.resultatsForm.controls.emailForm.dirty || submitAttempt)" formControlName="emailForm" type="text"></ion-input>
      </ion-item>
      <p *ngIf="!this.resultatsForm.controls.emailForm.valid">{{ 'FORM_EMAIL_REF_ALERTE' | translate }}</p>
    </form>
  
    <button class="ButtonValide" ion-button icon-end large clear (click)="nextPage()">
      {{ 'FIN_BUTTON' | translate }}
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-content>